body {
    font-family: Arial, sans-serif;
    padding: 1rem;
    max-width: 700px;
    margin: auto; 
}

.example {
    border: 1px solid #972e2e;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 6px;
    background-color: blanchedalmond;
    text-align: center;
}

label, button {
    margin-top: 0.5rem; 
}

.result {
    margin-top: 0.5rem;
    font-weight: bold;
}

/* PANG pa gitna */
.example input,
.example button {
    display: block;
    margin: 0.5rem auto;
    text-align: center;
}
